/* this section of the code was written by vincentgarreau */
html,body {/*settings for the body css*/
    margin: 0;
    padding: 0;
    }
 .background {/*settings for the background tag */
    position:absolute;
    display:block;
    top:0;
    left:0;
    z-index:0;
    }